{% extends 'shablon.html' %}

{% block title %}
Лучшие французские фильмы
{% endblock %}

{% block content %}
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Фильмы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/person/">Герои фильмов</a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/la-chevre.jpg" class="card-img-top" alt="Невезучие">
                <div class="card-body">
                    <h5 class="card-title">«Невезучие» (1981)</h5>
                    <p class="card-text">Есть тип людей, страдающих хроническим невезением. Они опаздывают на поезд,
                        проливают красное вино на белую одежду, на них падают кирпичи. Единственная дочь миллионера Мари
                        как раз из таких. Теперь она пропала где-то в Мексике. Ее отец поручает поиски опытному сыщику,
                        а в помощь ему находят невезучего человека. Один невезучий должен вывести на другого</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/les-comperes.jpg" class="card-img-top" alt="Папаши">
                <div class="card-body">
                    <h5 class="card-title">«Папаши» (1983)</h5>
                    <p class="card-text">Подросток сбегает из дома вместе со своей подружкой. Полиция оказывается
                        бессильна, и тогда мать решает обратиться к двум своим знакомым, с которыми она когда-то
                        встречалась. Каждому из них она сообщает, что именно он отец мальчика. Пробивной журналист и
                        незадачливый школьный учитель вместе отправляются на поиски. Они не знают, что искать им
                        придется одного и того же человека</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/les-fugitifs.jpg" class="card-img-top" alt="Беглецы">
                <div class="card-body">
                    <h5 class="card-title">«Беглецы» (1986)</h5>
                    <p class="card-text">Нескладный грабитель банка захватывает в заложники бывшего «крутого»
                        заключенного. Полиция бросается за ними в погоню, герои меняются ролями. «Заложник» становится
                        нянькой «похитителя» и «отцом» его немой дочери. Теперь «крутой», который сидел за 14 ограблений
                        банков, твердо решил «завязать»</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
